{{!-- MAIN.HANDLEBARS IS WHERE WE WILL STORE THE BASIC HTML LAYOUT
    INDEX.HANDLEBARS WILL STORE WHAT WE PUT IN THE BODY--}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <title>Eat-Da-Burger App</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Link to our CSS file -->
    <link href="assets/css/burger_style.css" rel="stylesheet">
  </head>
  <body>
      <div>

      {{{ body }}}

      </div>
      <hr>

      <footer class=" center footer">
        <div class="container">
          <p> copyright © 2019 Eat-Da-Burger </p>
          <p> Created By Andraya Smith </p>
        </div>
      </footer>
  </body>
</html>